body {
    text-align: center;
}

h1 {
    padding: 20px;
    color: green;
}

h3 {
    color: red;
}

input[type=submit] {
    width: 80px;
    cursor: pointer;
    padding: 5px;
}

input[type=submit]:hover {
    width: 80px;
    background-color: beige;
}